drive==0.2.4
feature-stuff==0.0.dev6
Flask==1.1.2
Flask-Login==0.5.0
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
gevent==21.1.2
google-api-python-client==1.5.3
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
greenlet==1.0.0
h5py==3.1.0
hpack==3.0.0
httplib2==0.18.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
imageio==2.9.0
jcopml==1.1.10
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
Js2Py==0.71
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras==2.4.3
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
networkx==2.5.1
nltk==3.6.1
notebook==6.3.0
numpy==1.19.5
oauth2client==3.0.0
oauthlib==3.1.0
opencv-contrib-python==4.5.1.48
opencv-python==4.5.1.48
openpyxl==2.4.0
opt-einsum==3.3.0
packaging==20.9
pandas==1.2.4
pandoc==1.0.2
scikit-image==0.18.1
scikit-learn==0.24.1
scikit-optimize==0.8.1
scipy==1.6.2
sklearn==0.0
social-auth-app-flask==1.0.0
social-auth-core==4.1.0
soupsieve==2.2.1
spicy==0.16.0
SQLAlchemy==1.4.13
ssh-python==0.9.0
ssh2-python==0.26.0
statsmodels==0.12.2
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0rc1
tensorflow-estimator==2.5.0rc0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
ThreadedFileLoader==1.0.0.11
threadpoolctl==2.1.0
tqdm==4.60.0
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
WSGIserver==1.3
