<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Herbal With Us </title>
</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbar">
		<div class="navbar-nav"><a class="nav-item nav-link" id="Beranda" href="/">Beranda</a><a class="nav-item nav-link" id="Pendeteksian" href="/Pendeteksian">Pendeteksian</a><a class="nav-item nav-link" id="Bantuan" href="/Bantuan">Bantuan</a><a class="nav-item nav-link" id="TentangAplikasi" href="/TentangAplikasi">Tentang Aplikasi</a></div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<br></br>
				<br></br>
				<br></br>
				<h1>Welcome to My Page</h1></div>
				<br></br>
		</div>
		<h4 class="col text-center">Aplikasi Pengenalan Tanaman Obat Herbal</h4>
		<div class="row align-items-end">
			<div class="col text-center"><img height="380" width="480" src="/{{mySampleA}}" class="img-thumbnail" /><p class="col text-center" style="text-align: justify;">Jika ada hal yang dapat anda tanyakan atau saran terhadap aplikasi website ini dapat anda kirimkan melalui platfrom berikut yang tertera dibawah ini :</p>
		</div>
		</div>
		<hr/>
		<div class="col text-center">
		<div class="row align-items-end"><a href="https://www.instagram.com/ariifiiin/">
			<div class="col text-left"> <img height="150" width="150" src="/{{mySampleI}}" class="img-thumbnail" />
				<h1>{{ myI }}</h1> </div>
			<a/>
			<a href="https://www.facebook.com/arif.in.56">
			<div class="col text-left"> <img height="150" width="150" src="/{{mySampleF}}" class="img-thumbnail" />
				<h1>{{ myF }}</h1> </div>
			<a/>
			<a href="https://twitter.com/Ariiifiiin">
			<div class="col text-left"> <img height="150" width="150" src="/{{mySampleTw}}" class="img-thumbnail" />
				<h1>{{ myTw }}</h1> </div>
			<a/>
		</div>
		</div>
		<div class="row">
			<div class="col">
				<form action="/Bantuan" method=post enctype="multipart/form-data">
			</div>
		</div>	
			</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>