<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Herbal With Us </title>
  </head>
  <body>
  	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbar">
			<div class="navbar-nav"><a class="nav-item nav-link" id="Beranda" href="/">Beranda</a><a class="nav-item nav-link" id="Pendeteksian" href="/Pendeteksian">Pendeteksian</a><a class="nav-item nav-link" id="Bantuan" href="/Bantuan">Bantuan</a><a class="nav-item nav-link" id="TentangAplikasi" href="/TentangAplikasi">Tentang Aplikasi</a></div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col text-center">
				<br></br>
				<br></br>
				<br></br>
				<h1>Welcome to My Page</h1></div>
				<br></br>
		</div>
		<div class="row align-items-end">
			<div class="col text-center"> <img height="300" width="400" src="/{{mySampleB}}" class="img-thumbnail" />
		<h1 style="text-align:center;">Aplikasi Pengenalan Tanaman Obat Herbal</h1>
		<p>Pengenalan tanaman herbal ini ditujukkan untuk tanaman jahe, kunyit, lengkuas, dan temulawak.</p>
		<p style="text-align:Justify;">Tanaman herbal nusantara adalah salah satu kekayaan rempah tradisional yang memegang peran penting dalam pengobatan di Indonesia. Hal ini tentunya didukung oleh kondisi iklim tropis dan cuaca yang dimiliki Indonesia sehingga memungkinkan beraneka ragam tumbuhan hidup dan berkembang. 
Dalam perkembangannya, masyarakat bisa menghindari penggunaan obat-obatan kimia yang berlebihan sebagai solusi agar terhindar dari efek samping tersebut. Sebagai solusi dalam mengurangi penggunaan obatan kimia adalah dengan mengkonsumsi jamu yang terdiri dari jahe, temulawak, lengkuas, hingga kunyit yang biasa digunakan untuk meningkatkan daya tahan tubuh masyarakat di masa pandemi covid-19.</p>
		</div>
		<hr/>
		<div class="row">
			<div class="col">
				<form action="/" method=post enctype="multipart/form-data">
			</div>
			<div class="container">
			</div> 
		</div>
		</div> 
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
</html>
